#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.Title {
  padding: 0;
  margin: 0;
}

.Chess {
  display: flex;
  justify-content: center;
  padding: 0px 5vh;
}

.SideBar {
  background: #353535;
  width: 40vh;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.SideBarMoves {
  height: 80%;
}

.ButtonWrapper {
  height: 20%;
  display: grid;
}

.UndoButton {
  margin: 0.5vh 3vh;
}

.ResetButton {
  margin: 0.5vh 3vh 3vh 3vh;
}

@media(max-width: 1000px) {
    .Chess {
        display: grid;
        justify-content: center;
        padding: 0;
    }

    .SideBar {
        background: #353535;
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
        display: grid;
    }

    .SideBarMoves {
        height: 80%;
    }

    .ButtonWrapper {
        height: 20%;
        display: grid;
    }

    .UndoButton {
        margin: 3vh 3vh 0.5vh 3vh;
    }

    .ResetButton {
        margin: 0.5vh 3vh 3vh 3vh;
    }
}
